/*Styling the whole body*/
body {
    background: white;
    margin: 0;
    padding: 0;
    margin-right: 0;
    position: absolute;
}

/*Styling for top right links*/
.toprightlinks {
    float: right;
    margin: 0 0 0 900px;
    padding: 0;
    word-spacing: 9px;
    display: inline;
}

/*Styling for gmail and image links*/
.gmailandimages {
    color: black;
    text-decoration: none;
    font: 13px arial, sans-serif;
    margin-top: 0;
    padding: 0;
}


/*Styling for gmail and image links using a pseudo-class for an underline on the links' text when cursor hovers over each one*/
.gmailandimages:hover {
    color: black;
    text-decoration: underline;
}

/*Styling for google apps icon*/
#googleappsicon {
    color: grey; 
    margin-top: 20px;   
}

/*Styling google app icon to turn black when cursor hovers over it*/
i#googleappsicon:hover {
    color: black;
}

/*Styling for sign in button/link*/
#signinbutton {
    color: white;
    margin-right: 15px;
    margin-top: 2px;
    padding: 7px 9px;
    background-color: #4387fd;
    border: 15px 25px #4387fd;
    text-decoration: none;
    font: 13px arial, sans-serif;
    font-weight: bolder;
    border-radius: 2px;
    word-spacing: 1px;
    
}

/*Adding the blurry shadow behind the button when cursor hovers over it*/
a#signinbutton:hover {
    box-shadow: 1px 1px 1px rgb(192, 189, 189);
}

/*Styling for google homepage logo*/
img {
    width: 350px;
    height: 220px;
    padding: 10px 10px 0 10px;
    margin: 100px 460px 0 460px;
     
}

/*Styling for search bar and the two buttons*/
.input-container {
    margin-top: 0;
    margin-left: 350px; 
    margin-right: 0;
    
    
}

/*Setting rounded corners for search bar and increasing space inside by increasing line-height; note that it's a border so obviously use the border property*/
#searchbar {
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 223, 223);
    line-height: 45px; /*Increasing the height of the border/the space inside the border where user inputs text search */
    background-position: 11px 20px;

}

/*Removing the blue border around search bar when it is clicked on*/
input[type="text"] {
    outline: none;
   
}

/*Adding the grey blurry shadow behind search bar and the two buttons when cursor hovers over each one of them*/
input:hover {
    box-shadow: 1px 1px 1px rgb(221, 217, 217);  
}