/*Styling the whole body*/
body {
    background: white;
    margin: 0;
    padding: 0;
    margin-right: 0;
    position: absolute;
}

/*Styling for top right links*/
.toprightlinks {
    float: right;
    margin: 0 0 0 900px;
    padding: 0;
    word-spacing: 9px;
    display: inline;
}

/*Styling for gmail and image links*/
.gmailandimages {
    color: black;
    text-decoration: none;
    font: 13px arial, sans-serif;
    margin-top: 0;
    padding: 0;
}


/*Styling for gmail and image links using a pseudo-class for an underline on the links' text when cursor hovers over each one*/
.gmailandimages:hover {
    color: black;
    text-decoration: underline;
}