/*Styling the whole body*/
body {
    background: white;
    margin: 0;
    padding: 0;
    margin-right: 0;
    position: absolute;
}

/*Styling for top right links*/
.toprightlinks {
    float: right;
    margin: 0 0 0 900px;
    padding: 0;
    word-spacing: 9px;
    display: inline;
}

/*Styling for gmail and image links*/
.gmailandimages {
    color: black;
    text-decoration: none;
    font: 13px arial, sans-serif;
    margin-top: 0;
    padding: 0;
}


/*Styling for gmail and image links using a pseudo-class for an underline on the links' text when cursor hovers over each one*/
.gmailandimages:hover {
    color: black;
    text-decoration: underline;
}

/*Styling for google apps icon*/
#googleappsicon {
    color: grey; 
    margin-top: 20px;   
}

/*Styling google app icon to turn black when cursor hovers over it*/
i#googleappsicon:hover {
    color: black;
}

/*Styling for sign in button/link*/
#signinbutton {
    color: white;
    margin-right: 15px;
    margin-top: 2px;
    padding: 7px 9px;
    background-color: #4387fd;
    border: 15px 25px #4387fd;
    text-decoration: none;
    font: 13px arial, sans-serif;
    font-weight: bolder;
    border-radius: 2px;
    word-spacing: 1px;
    
}

/*Adding the blurry shadow behind the button when cursor hovers over it*/
a#signinbutton:hover {
    box-shadow: 1px 1px 1px rgb(192, 189, 189);
}

/*Styling for google homepage logo*/
img {
    width: 350px;
    height: 220px;
    padding: 10px 10px 0 10px;
    margin: 100px 460px 0 460px;
     
}

/*Styling for search bar and the two buttons*/
.input-container {
    margin-top: 0;
    margin-left: 408px; 
    margin-right: 0;
    
    
}

/*Setting rounded corners for search bar and increasing space inside by increasing line-height; note that it's a border so obviously use the border property*/
#searchbar {
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 223, 223);
    line-height: 45px; /*Increasing the height of the border/the space inside the border where user inputs text search */
    background-position: 11px 20px;
    padding-left: 15px; /*Moves the blinking vertical line inside text-field (upon clicking on it) to the right*/
}

/*Removing the blue border around search bar when it is clicked on*/
input[type="text"] {
    outline: none;
   
}

/*Adding the grey blurry shadow behind search bar when cursor hovers over it*/
#searchbar:hover {
    box-shadow: 1px 1px 7px 1px rgb(221, 217, 217);  /*the third numeric value gives the text-field its box-shadow all around the border when cursor hovers it*/
}

/*Adding the grey blurry shadow and border outline on the two buttons (Google Search and I'm Feeling Lucky) when cursor hovers over each one*/
#button1:hover, #button2:hover {
    border: 0.5px solid rgb(180, 175, 175);
    box-shadow: 1px 1px 1px rgb(221, 217, 217);
}


/*Style for microphone icon image*/
#microphoneicon {
    width: 15px;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/*Styling for the google search and I'm feeling lucky buttons*/
input.buttons {
    border-color:rgb(245, 241, 241);
    border-radius: 3px;
    margin-bottom: 20px;
    display: inline;

}

/*Styling for google search button*/
#button1 {
    margin: 0 0 30px 530px;
    height: 36px;
    line-height: 27px;
    border-radius: 4px;     /*making the corners of search bar more curved*/
    border: 1px solid #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    background-color: rgb(245, 241, 241);
}

/*Styling for I'm feeling lucky buttons*/
#button2 {
    margin: 0 460px 30px 2px;
    height: 36px;
    line-height: 27px;
    border-radius: 4px;
    border: 1px solid #f2f2f2; 
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    background-color: rgb(245, 241, 241);
}

/*Styling for location text on the left*/
p {
    color: grey;
    font: 15px arial, sans-serif;
    border-top: solid 1px rgb(204, 197, 197);
    background-color: rgb(245, 241, 241); 
    padding: 15px;
    margin: 0 auto;
}

/*Styling for the links at the bottom of the web page*/
.bottomlinks {
    font: 13px arial,sans-serif;
    word-spacing: 12px;  
    border-top: solid 1px rgb(204, 197, 197);
    background-color: rgb(245, 241, 241); 
    padding: 15px;
    margin: 0; 
    line-height: 25px;
}

/*Styling for links on the bottom left*/
.bottomleftlinks {
    text-decoration: none;
    color: grey;
    margin-left: 0;
    margin-bottom: 0;
}

/*styling for the how search works link*/
#howsearchworks {
    word-spacing: 1px;
}

/*Styling for the links on bottom right*/
.bottomrightlinks {
    float: right;
    word-spacing: 15px;
    margin-bottom: 0; 
    margin-right: 0;  
    padding-bottom: 0;
}

/*Setting the no underline and grey color for bottom right links*/
#bottomrightlink1, #bottomrightlink2, #bottomrightlink3 {
    color: grey;
    text-decoration: none;
}

/*Setting the pseudo-class for bottom left links where they'd be underlined when cursor hovers over each one*/
.bottomleftlinks:hover {
    color: grey;
    text-decoration: underline;
}

/*Setting the pseudo-class for each bottom right links where they'd be underlined when cursor hovers over each one*/
#bottomrightlink1:hover, #bottomrightlink2:hover, #bottomrightlink3:hover {
    color: grey;
    text-decoration: underline;
}