/*Styling the whole body*/
body {
    background: white;
    margin: 0;
    padding: 0;
    margin-right: 0;
    position: absolute;
}

.toprightlinks {
    float: right;
    margin: 0;
    padding: 0;
}
.gmailandimages {
    color: black;
    text-decoration: none;
    font: 13px arial, sans-serif;
}
.gmailandimages:hover {
    color: black;
    text-decoration: underline;
}